{% extends 'base.html' %}

{% block title %}
    My Tasks
{% endblock title %}
{% block content %}
    <main>
        <div class="my-tasks-list">
            <h1>My Tasks</h1>
            {% if task_list|length > 0 %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start Date</th>
                            <th>Due Date</th>
                            <th>Notes?</th>
                            <th>Is Completed?</th>
                            <th>Edit Task</th>
                            <th>Delete Task</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in task_list.all %}
                            <tr>
                                <td>
                                    <a href="{% url 'show_task' task.id %}">{{ task.name }}</a>
                                </td>
                                <td>{{ task.start_date }}</td>
                                <td>{{ task.due_date }}</td>
                                <td>{{ task.notes.all|length }}</td>
                                <td>{{ task.is_completed|yesno:"yes, no" }}</td>
                                <td>
                                    <a href="{% url 'task_list_update' task.id %}">Edit</a>
                                </td>
                                <td>
                                    <a href="{% url 'task_list_delete' task.id %}">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You have no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
